.informacoes {
    padding: 10px;
    margin: 20px;
    min-height: 500px;
    display: flex;
    max-width: 1200px;
}

@media (max-width: 750px) {
    .informacoes {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .imagem {
        order: 1;
    }

    .info {
        order: 2;
    }
}

@media (max-width: 750px) {

    .informacoes-left.info {
        width: 100%;
    }

    .informacoes-right.imagem {
        width: 100%;
    }
}

.informacoes-left-center {
    justify-content: left;
}

.informacoes-left {
    width: 50%;
}

.informacoes-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.informacoes-left-center>h1 {
    margin: 0px 2px;
}

.codigo-tipo {
    display: flex;
    justify-content: space-between;
}

.codigo-tipo>div {
    display: flex;
    align-items: center;
}

.codigo-tipo>div>h3 {
    margin: 5px;
}

.tipo {
    background-color: #F7802A;
    padding: 5px 10px;
    color: white;
}

.altura {
    display: flex;
    justify-content: space-between;
}

.altura>h3 {
    margin: 0px 2px;
}

.informacoes-right-center {
    height: 80%;
    max-height: 500px;
    border-radius: 100%;
    border: 3px solid white;
}