<div class="conteudo">
    <div class="conteudo-left">
        <div class="conteudo-left-center">
            <img class="logo" src="../assets/inicielogocolorida.png" />
            <h1>Explore o mundo dos <span class="pokemon">Pokémons</span></h1>
            <h3>Descubra todas as espécies de pokémons</h3>
            <div class="input">
                <input type="text" class="input-buscar" placeholder="Digite o nome do pokémon">
                <button class="botao-buscar" type="button">Buscar</button>
            </div>
        </div>
    </div>
    <div class="conteudo-right">
        <div class="conteudo-right-center">
            <img src="../assets/img1.png" />
            <div class="img-center">
                <img src="../assets/img2.png" />
            </div>
            <img src="../assets/img3.png" />
        </div>
    </div>
</div>
<div class="titulo-paginacao">
    <div class="conteudo-titulo-paginacao">

        <h3>Pokedex</h3>
        <div class="paginacao">
            <div class="circulo" (click)="previousPage()">
                <img width="20px" src="../assets/seta-esquerda.png">
            </div>
            <div class="circulo" (click)="nextPage()">
                <img width="20px" src="../assets/seta-direita.png">
            </div>
        </div>
    </div>
</div>
<div class="pokedex">
    <div *ngFor="let pok of pokemons">
        <app-pokedex [pokemon]="pok"></app-pokedex>
    </div>

</div>{{pokemons}}