<div class="conteudo">
    <img class="logo-responsiva" src="../assets/inicielogocolorida.png" />
    <div class="conteudo-left-right texto">
        <div class="conteudo-left-center">
            <img class="logo" src="../assets/inicielogocolorida.png" />
            <h1>Explore o mundo dos <span class="pokemon">Pokémons</span></h1>
            <h3>Descubra todas as espécies de pokémons</h3>
            <div class="inputs">
                <input type="text" id="nomePokemon" class="input-botao input" placeholder="Digite o nome do pokémon">
                <button class="input-botao buscar" type="button" (click)="buscarPokemon()">Buscar</button>
            </div>
        </div>
    </div>
    <div class="conteudo-left-right imagens">
        <div class="conteudo-right-center">
            <img class="img-pokemons" src="../assets/img2.png" />
            <div class="img-cetro">
                <img class="img-pokemons" src="../assets/img1.png" />
            </div>
            <img class="img-pokemons" src="../assets/img3.png" />
        </div>
    </div>
</div>
<div *ngIf="!informacoes" class="titulo-paginacao">
    <div class="conteudo-titulo-paginacao">

        <h3>Pokedex</h3>
        <div class="paginacao">
            <div class="circulo" (click)="previousPage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-chevron-left seta" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </div>
            <div class="circulo" (click)="nextPage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-chevron-right seta" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="btn-voltar" *ngIf="informacoes == true" (click)="informacoes = false">
    <button type="button">Voltar</button>
</div>
<div class="pokedex-informacoes">
    <div *ngFor="let pok of pokemons">
        <app-pokedex *ngIf="!informacoes" [pokemon]="pok" (click)="exibirInformacoes(pok)"></app-pokedex>
    </div>
    <div *ngIf="informacoes == true">
        <app-informacoes [pokemon]="pokemon"></app-informacoes>
    </div>
</div>